# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

*.suo
*.db
*.tlog
*.lastbuildstate
*.log
*.obj
*.idb
*.pdb
*.vcxproj
*.filters
*.user
*.ilk
*.ipch
*.exe
pom.xml